<!DOCTYPE html>
<html lang="en">
  <head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="User Authentication">
  <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link href="/components/bootstrap/css/bootstrap.css" rel="stylesheet">

  </head>
  <body> 
    <!-- flash message code -->
    <%if(typeof(messages)!="undefined") {%>
      <%if (messages.error) { %>
        <div class="alert alert-danger">
          <div><%=messages.error%></div>
        </div>
      <% } %>
      <!-- message info -->
      <%if (messages.info) { %>
        <div class="alert alert-info">
          <div><%=messages.info%></div>
        </div>
      <% } %>
      <!-- message success -->
      <%if (messages.success) { %>
        <div class="alert alert-success">
          <div><%=messages.success%></div>
        </div>
      <% } %>
    <% } %>
    <!-- flash message code -->
    <%- body %>
  </body>
  <script src="/components/jquery/jquery.js" type="text/javascript"/>
  <script src="/components/bootstrap/js/bootstrap.js" type="text/javascript"/>
</html>